body{
    width: 100%;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    
}

.container{
    width: 100%;
    height: 1080px;
    background: url("../img/bg.png");
}

.header-container {
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b3847;
}

.header-logo{
    width: 100px;
    padding-right: 42px;
}

.header-btn{
    font-size: 24px;
    font-weight: bold;
    padding-right: 42px;
}

.header-btn1{
    font-size: 24px;
    font-weight: bold;
    padding-right: 42px;
}

.header-btn2{
    font-size: 24px;
    font-weight: bold;
}

.list{
    padding-left: 29px;
    padding-right: 30px;
}


.contacts-container{
    padding-left: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -330px;
}

.phone-img{
    padding-right: 8px;
}

.contacts-text{
    font-weight: 12px;
    color: white;
    font-weight: 300;
}

.error-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error{
    font-size: 256px;
    font-weight: bold;
    color: white;
    margin-bottom: -40px;
}

.error-text{
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin-bottom: 0px;
}

.error-description{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    width: 325px;
    text-align: center;
    margin-bottom: 71px;
}

.go-to-main{
    width: 373px;
    height: 91px;
    background-color: #466eaa;
    color: white;
    font-weight: bold;
    font-size: 32px;
    border: none;
}

.footer{
    width: 100%;
    height: 336px;
    background-color: #1D1916;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-left{
    display: flex;
    flex-direction: column;
    padding-left: 144px;
}

.footer-right{
    display: flex;
    flex-direction: column;
    padding-left: 187px;
    margin-top: -25px;
}

.footer-a-left{
    font-size: 24px;
    color: white;
    font-weight: normal;
    padding-top: 8px;
}

.footer-contacts{
    padding-left: 349px;
}

.footer-email,
.footer-phone{
    font-size: 24px;
    color: white;
    font-weight: normal;
}

.arrow{
    padding-left: 220px;
}

.footer-copyright{
    position: absolute;
    margin-top: 290px;
    color: rgba(255, 255, 255, 0.3);
}