body{
    width: 100%;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    
}

.container{
    width: 100%;
    height: 1080px;
}

.header-container {
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b3847;
}

.header-logo{
    width: 100px;
    padding-right: 42px;
}

.header-btn{
    font-size: 24px;
    font-weight: bold;
    padding-right: 42px;
}

.header-btn1{
    font-size: 24px;
    font-weight: bold;
    padding-right: 42px;
}

.header-btn2{
    font-size: 24px;
    font-weight: bold;
}

.list{
    padding-left: 29px;
    padding-right: 30px;
}


.contacts-container{
    padding-left: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -330px;
}

.phone-img{
    padding-right: 8px;
}

.contacts-text{
    font-weight: 12px;
    color: white;
    font-weight: 300;
}

.cont-bread{
    display: flex;
    align-items: center;
}

.bread{
    width: 500px;
    padding-left: 16%;
}

.head-str1{
    padding-left: 110px;
}

ul.breadcrumb {
    padding: 40px;
}

ul.breadcrumb li {
    display: inline;
    font-size: 20px;
    color: #42372D;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: #888888;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0000008e;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #42372D;
    text-decoration: underline;
}

.container-dev{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-dev-tools{
    display: flex;
    justify-content: center;
    margin-top: 56px;
}

.farm-icon{
    width: 544px;
    height: 316px;
}

.farm-text{
    width: 670px;
    text-align: justify;
    font-size: 20px;
}

.farm-text-container{
    margin-left: 20px;
}

.farm-title{
    color: #466eaa;
    font-size: 32px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: -15px;
}

.tools-title{
    color: #466eaa;
    font-size: 32px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: -15px;
}

.tools-text{
    width: 760px;
    text-align: justify;
    font-size: 20px;
    margin-right: 20px;
}

.tools-icon{
    margin-right: 15px;
}

.tools-line{
    width: 237px;
    padding-top: 15px;
}

.tools-container{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 20px;
}

.footer{
    margin-top: 150px;
    width: 100%;
    height: 336px;
    background-color: #1D1916;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-left{
    display: flex;
    flex-direction: column;
    padding-left: 144px;
}

.footer-right{
    display: flex;
    flex-direction: column;
    padding-left: 187px;
    margin-top: -25px;
}

.footer-a-left{
    font-size: 24px;
    color: white;
    font-weight: normal;
    padding-top: 8px;
}

.footer-contacts{
    padding-left: 349px;
}

.footer-email,
.footer-phone{
    font-size: 24px;
    color: white;
    font-weight: normal;
}

.arrow{
    padding-left: 220px;
}

.footer-copyright{
    position: absolute;
    margin-top: 290px;
    color: rgba(255, 255, 255, 0.3);
}