body{
    width: 100%;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    
}

.container{
    width: 100%;
    height: 1080px;
}

.header-container {
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b3847;
}

.header-logo{
    width: 100px;
    padding-right: 42px;
}


.header-btn{
    font-size: 24px;
    font-weight: bold;
    padding-right: 42px;
}

.header-btn1{
    font-size: 24px;
    font-weight: bold;
    padding-right: 42px;
}

.header-btn2{
    font-size: 24px;
    font-weight: bold;
}

.list{
    padding-left: 29px;
    padding-right: 30px;
}


.contacts-container{
    padding-left: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -330px;
}

.phone-img{
    padding-right: 8px;
}

.contacts-text{
    font-weight: 12px;
    color: white;
    font-weight: 300;
}

.cont-bread{
    display: flex;
    align-items: center;

}

.bread{
    width: 550px;
    padding-left: 16%;
}

ul.breadcrumb {
    padding: 40px;
}

ul.breadcrumb li {
    display: inline;
    font-size: 20px;
    color: #42372D;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: #888888;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0000008e;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #42372D;
    text-decoration: underline;
}

.offer-up-cont{
    display: flex;
    justify-content: center;
}

.container-offer{
    width: 571px;
    height: 1450px;
    box-shadow: 0px 0px 10px 2px rgba(51, 84, 128, 0.25);
    display: flex;
    flex-direction: column;
}

.offer-title{
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.offer-card{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 116px;
    align-items: center;
    margin-bottom: 34px;
    margin-top: 10px;
}

.bl-ico{
    border: #466eaa solid 2px;
    width: 120px;
    height: 120px;
}

.card-title{
    font-size: 24px;
    font-weight: bold;
    margin-top: -5px;
    margin-bottom: -10px;
}

.card-text-container{
    margin-left: 20px;
}

.card-text{
    font-size: 20px;
}

.card-size{
    width: 146px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #466eaa solid 2px;
    margin-top: -15px;
}

.size{
    font-size: 20px;
}

.num-card{
    font-size: 16px;
    margin-left: 34px;
    margin-right: 20px;
}

.price-card{
    font-size: 24px;
    font-weight: bold;
    margin-right: -70px;
}

.input-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.offer-input{
    width: 473px;
    height: 57px;
    padding-left: 20px;
    font-size: 20px;
    margin-bottom: 12px;
}

.input-text{
    font-size: 20px;
    margin-left: 35px;
    margin-bottom: 10px;
}

.check-delivery{
    display: flex;
    align-items: center;
    margin-bottom: -20px;
    margin-left: 35px;
}

.delivery{
    width: 29px;
    height: 29px;
}

.delivery-text{
    font-size: 20px;
    margin-left: 10px;
}

.input-container-delivery{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.input-container-town{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: -15px;
}

.input-container-adress{
    display: flex;
    justify-content: center;
}

.offer-input-adress1{
    width: 216px;
    height: 57px;
    padding-left: 20px;
    font-size: 20px;
    margin-bottom: 12px;
    margin-right: 10px;
}

.offer-input-adress{
    width: 220px;
    height: 57px;
    padding-left: 20px;
    font-size: 20px;
    margin-bottom: 12px;
}

.offer-input-ps{
    width: 473px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 129px;
    font-size: 20px;
    margin-bottom: 12px;
}

.acess-text{
    font-size: 16px;
    margin-left: 10px;
}

.finish-price-offer-container{
    display: flex;
    margin-top: 36px;
    margin-left: 35px;
    width: 500px;
    justify-content:space-between;
}

.finish-price-del-container{
    display: flex;
    margin-top: -20px;
    margin-left: 35px;
    width: 500px;
    justify-content:space-between;
}

.finish-price-itog-container{
    display: flex;
    margin-left: 35px;
    width: 500px;
    justify-content:space-between;
}

.finish-price-offer-text{
    font-size: 18px;
    color: #8B8B8B;
}

.finish-price-itog-text{
    font-size: 32px;
}

.finish-btn-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn-finish{
    width: 493px;
    height: 65px;
    background-color: #466eaa;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border: none;
    margin-top: -10px;
}

.footer{
    margin-top: 50px;
    width: 100%;
    height: 336px;
    background-color: #1D1916;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-left{
    display: flex;
    flex-direction: column;
    padding-left: 144px;
}

.footer-right{
    display: flex;
    flex-direction: column;
    padding-left: 187px;
    margin-top: -25px;
}

.footer-a-left{
    font-size: 24px;
    color: white;
    font-weight: normal;
    padding-top: 8px;
}

.footer-contacts{
    padding-left: 349px;
}

.footer-email,
.footer-phone{
    font-size: 24px;
    color: white;
    font-weight: normal;
}

.arrow{
    padding-left: 220px;
}

.footer-copyright{
    position: absolute;
    margin-top: 290px;
    color: rgba(255, 255, 255, 0.3);
}

